<%- include('./components/navbar') %>
<div class="text-center"><%- include('./components/messages') %></div>
<div class="container-fluid">
  <div class="row justify-content-center mr-0 ml-2">
    <% if(books.length>0){%><% books.forEach(book => { %>
    <div class="card m-3 p-0 shadow col-sm-10 col-md-5 col-lg-4">
      <a href="/<%= book._id %>" class="text-center"
        ><img
          class="img-fluid p-0"
          src="/files/<%= book.coverImage %>"
          alt="<%= book.coverImage %>"
      /></a>
      <div class="card-body">
        <p class="card-title">
          <%= book.title %>
          <span class="text-info">ISBN: <%= book.isbn %></span>
        </p>
        <h6 class="card-subtitle"><%= book.description %></h6>
        <span class="text-white"><%= book.author %></span>
        <%- include('./components/borrow', {user, book}) %>
      </div>
    </div>
    <% }) %> <%}else{%>
    <div class="container" style="height: 31rem">
      <div class="row justify-content-center">
        <div class="col">
          <h1 class="text-center mt-5 p-5">No Books for Borrow</h1>
        </div>
      </div>
    </div>
    <%}%>
  </div>
  <% if(currentPage){%>
  <div class="row justify-content-center mr-0">
    <ul class="pagination">
      <li class="page-item <% if(currentPage <= 1) { %> disabled <% } %>">
        <a
          class="page-link"
          href="?page=<%= currentPage <= 1 ? 1 : currentPage - 1 %>"
          >&laquo;</a
        >
      </li>
      <% for (let i = 1 ; i <= totalPages; i++) {%>
      <li class="page-item<% if(currentPage == i) { %> active <% } %>">
        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
      </li>
      <% }%>
      <li
        class="page-item<% if(currentPage == totalPages) { %> disabled <% } %>"
      >
        <a
          class="page-link"
          href="?page=<%= currentPage > totalPages - 1 ? totalPages : 1 + currentPage %>"
          >&raquo;</a
        >
      </li>
    </ul>
  </div>
  <% }%>
</div>
<%-include('./components/footer') %>
